{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-bold mb-4">Create Transaction</h1>

        {{ form_start(form) }}
        <div class="mb-4">
            {{ form_label(form.amount, 'Amount', {'label_attr': {'class': 'block text-gray-700'}}) }}
            {{ form_widget(form.amount, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.amount) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.type, 'Type', {'label_attr': {'class': 'block text-gray-700'}}) }}
            {{ form_widget(form.type, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.type) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'block text-gray-700'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.date, 'Date', {'label_attr': {'class': 'block text-gray-700'}}) }}
            {{ form_widget(form.date, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.date) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.isRecurrent, 'Recurrent', {'label_attr': {'class': 'block text-gray-700'}}) }}
            {{ form_widget(form.isRecurrent, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.isRecurrent) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.recurrentDay, 'Recurrent Day', {'label_attr': {'class': 'block text-gray-700'}}) }}
            {{ form_widget(form.recurrentDay, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.recurrentDay) }}
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
